*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url('../assets/Hero-bg.png');
    /* left: 0;
    right: 0;
    top: 131px;
    bottom: 4462px; */
    border: 8px solid red;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 998px;
    max-height: 581px;
    margin: auto auto;
    padding-left: 221px;
    padding-right: 221px;
    padding-top: 26px;
    border: 8px solid red;
}
.banner-content{
    text-align: center;
}
.azeret-mono-bannertitle {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  font-size: 48px;
  width: 998px;
  height: 136px;
  line-height: 68px;
  margin: 24px 0px;
}
.b-p{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 16px;
    width: 852px;
    height: 52px;
    line-height: 26px;
    margin: 24px 0px;
}
.banner-dp{
    width: 240.28px;
    height: 240px;
